{
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 85,
  "semi": true,
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrderTypeScriptVersion": "4.4.0",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@openstatus/(.*)$",
    "^openstatus/(.*)$",
    "",
    "^@/(.*)$",
    "^[./]"
  ],
  "proseWrap": "always"
}
