{
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 93,
  "semi": true,
  "trailingComma": "all",
  "singleAttributePerLine": true
}
